body {
  font-family: "Urbanist", sans-serif;
  color: #eae7df;
  text-align: center;
  background: linear-gradient(#065170, #f8b264);
  letter-spacing: 3px;
}

#profile {
  height: auto;
  width: 36vw;
  border-radius: 30vw 3vw 30vw 3vw;
}

#QR {
  height: auto;
  width: 15vw;
}

footer {
  color: #065170;
}

a {
  color: #fce3c7;
}

a:visited {
  color: #eae7df;
}

span {
  color: #f3e5d3;
}

#horizon1 {
  width: 50vw;
}

#horizon2 {
  width: 25vw;
}

#horizon3 {
  width: 6vw;
}

#horizon4 {
  width: 1vw;
}

.about {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;
  justify-content: space-between;
  height: 12vh;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skill {
  height: 9vh;
  width: auto;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
}

.projects div {
  font-size: 1.5rem;
  flex-basis: 30%;
}

@media screen and (max-width: 768px) {
  .hobbies,
  .qualities {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 9vw;
  }
}
