body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:black;
    color: white;
}

img {
    height: auto;
    width: 250px;
    border-radius: 5px;
}

.caption {
    font-size: small;
}

main section:hover {
    color: antiquewhite;
    background-color: cadetblue;
    border-radius: 5px;
}