body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url(./Images/background.jpg);
    background-size: cover;
    color: white;
}

#profile {
    height: auto;
    width: 369px;
    border-radius: 5px;
}

.QR {
    height: auto;
    width: 369px;
}

.hover:hover {
    color: #e5e0d6;
    background-color: #254b64;
    border-radius: 5px;
}

footer{
    text-align: center;
    color: #002D4C;
}

nav a {
    color: #F8CC8B;
}

nav a:visited {
    color: #CAC1AD;
}

span.separate {
    color: #E1C79C;
}

figure {
    display:inline-block;
    width: 25%;
}

figcaption {
    text-align: center;
    color: #2d546d;
}